In [1]:
import pandas as pd
df = pd.read_csv('Parking_Citations.csv')

In [4]:
df.head(1)

,ticket_number,issue_date,issue_time,meter_id,marked_time,rp_state_plate,plate_expiry_date,vin,make,body_style,...,violation_description,fine_amount,agency_desc,color_desc,body_style_desc,loc_lat,loc_long,month,year,month_year
0,4583666032,2024-05-01,739,NaN,0,AZ,0,NaN,GEN,PA,...,NO PARKING,73,54 - DOT - HOLLYWOOD,GREY,PASSENGER CAR,34.074022,-118.374131,5,2024,2024-05

In [5]:
df.dtypes

ticket_number                     int64
issue_date               datetime64[ns]
issue_time                        int64
meter_id                         object
marked_time                       int64
rp_state_plate                   object
plate_expiry_date                 int64
vin                             float64
make                             object
body_style                       object
color                            object
location                         object
route                            object
agency                            int64
violation_code                   object
violation_description            object
fine_amount                       int64
agency_desc                      object
color_desc                       object
body_style_desc                  object
loc_lat                         float64
loc_long                        float64
month                             int32
year                              int32
month_year                       object
dtype: object

In [3]:
df['issue_date'] = pd.to_datetime(df['issue_date'])

# Extract month and year
df['month'] = df['issue_date'].dt.month
df['year'] = df['issue_date'].dt.year

# If you want a single column with "month-year" format
df['month_year'] = df['issue_date'].dt.to_period('M').astype(str)

C:\Users\jerry\AppData\Local\Temp\ipykernel_7360\1734359749.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['issue_date'] = pd.to_datetime(df['issue_date'])

In [8]:
import pandas as pd
year1 = 2024
year2 = 2024
print(df[(df['year'] >= year1) & (df['year'] <= year2)])

       ticket_number issue_date  issue_time meter_id  marked_time  \
0         4583666032 2024-05-01         739      NaN            0
1         4583652754 2024-05-01        2312      NaN            0
2         4583652835 2024-05-01        2346      NaN            0
3         4583926830 2024-05-01         745      NaN            0
4         4583892880 2024-05-01        2304      NaN            0
...              ...        ...         ...      ...          ...
59410     4583664013 2024-05-12         854      NaN            0
59411     4584353955 2024-05-12        1107    SV261            0
59412     4584495510 2024-05-12         833      NaN            0
59413     4583664072 2024-05-12        1148      NaN            0
59414     4584050015 2024-05-12         835      NaN            0

      rp_state_plate  plate_expiry_date  vin  make body_style  ...  \
0                 AZ                  0  NaN   GEN         PA  ...
1                 CA             202503  NaN  FORD         PA  ...
2                 CA             202406  NaN  FORD         PA  ...
3                 WA             202404  NaN  MAZD         PA  ...
4                 CA             202209  NaN  HOND         PA  ...
...              ...                ...  ...   ...        ...  ...
59410             CA             202501  NaN  MERZ         PA  ...
59411             CA             202410  NaN  FORD         PA  ...
59412             CA             202407  NaN  MERZ         PA  ...
59413             CA                  0  NaN   NaN         PA  ...
59414             CA             202308  NaN  CHEV         PA  ...

      violation_description fine_amount           agency_desc  color_desc  \
0                NO PARKING          73  54 - DOT - HOLLYWOOD        GREY
1       STOP/STAND PROHIBIT          93     53 - DOT - VALLEY       WHITE
2         DISPLAY OF PLATES          25     53 - DOT - VALLEY       BLACK
3                  RED ZONE          93  54 - DOT - HOLLYWOOD       WHITE
4                NO PARKING          73     53 - DOT - VALLEY        GREY
...                     ...         ...                   ...         ...
59410                   NaN           0    56 - DOT - CENTRAL       BLACK
59411                   NaN           0  54 - DOT - HOLLYWOOD        GREY
59412                   NaN           0  54 - DOT - HOLLYWOOD      SILVER
59413                   NaN           0    56 - DOT - CENTRAL         NaN
59414                   NaN           0    51 - DOT - WESTERN      ORANGE

      body_style_desc    loc_lat    loc_long month  year month_year
0       PASSENGER CAR  34.074022 -118.374131     5  2024    2024-05
1       PASSENGER CAR  34.215528 -118.466420     5  2024    2024-05
2       PASSENGER CAR  34.231169 -118.467787     5  2024    2024-05
3       PASSENGER CAR  34.105209 -118.323118     5  2024    2024-05
4       PASSENGER CAR  34.182671 -118.461216     5  2024    2024-05
...               ...        ...         ...   ...   ...        ...
59410   PASSENGER CAR  33.987071 -118.456022     5  2024    2024-05
59411   PASSENGER CAR  34.096336 -118.329865     5  2024    2024-05
59412   PASSENGER CAR  34.070490 -118.285670     5  2024    2024-05
59413   PASSENGER CAR  34.048893 -118.253686     5  2024    2024-05
59414   PASSENGER CAR  34.052256 -118.478128     5  2024    2024-05

[59415 rows x 25 columns]

In [9]:
year_counts = df.groupby('year').size()
year_counts = year_counts.to_frame()
year_counts = year_counts.reset_index()
year_counts.columns = ['year', 'count']
type(year_counts)

pandas.core.frame.DataFrame

In [14]:
month_counts = df.groupby('month').size()
month_counts = month_counts.to_frame()
month_counts = month_counts.reset_index()
month_counts.columns = ['month', 'count']
type(month_counts)

pandas.core.frame.DataFrame

In [15]:
month_counts

   month  count
0      5  59415

In [16]:
year_counts

   year  count
0  2024  59415